.form-hint {
  display: block;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 12px;
}
.field {
  box-sizing: border-box;
  width: 640px;
border: 1px solid #222222;
padding: 15px 20px;
font-family: inherit;
  
}

.textarea {
 
      min-width: 640px;
      max-width: 640px;
      min-height: 150px;
      max-height: 200px;
    
}
.button {
  border: none;
  padding: 15px 55px;
  color: #ffffff;
  background-color: #e74c3c;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: #621005;
}
.form-row:nth-child(n+2) {
  margin-top: 35px;
}
.form-group {
  display: block;
}
.field:focus, .button:focus {
  outline: 2px solid #c53b2d;
  outline-offset: 5px;
}

